<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Вопрос-ответ</title>
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
  <div id="app">
    <div class="question_answer_cont">
        <div v-for="(item, i) in items" class="question_answer_row">
            <div v-if="item.question" class="card_question_block">
                <div class="card_item card_item_question">
                    {{item.question}}
                </div>
            </div>
            <div v-if="item.answer" class="card_answer_block">
                <div class="card_item card_item_answer">
                    {{item.answer}}
                </div>
            </div>
        </div>
    </div>
    <div class="input-group mb-3">
      <input v-model="message" type="text" class="form-control" placeholder="Введите вопрос" aria-label="Recipient's username" aria-describedby="button-addon2">
      <div class="input-group-append">
        <button :disabled="loading" v-on:click="sendQuestion" class="btn btn-outline-secondary" type="button" id="button-addon2">Узнать ответ</button>
      </div>
    </div>
    <button v-on:click="clearAll" type="button" class="btn btn-primary">Очистить предыдушие вопросы-ответы</button>
  </div>
  <script src="index.js"></script>
</body>
</html>
